@import '../../../styles/utils/utils.scss';

:root {
    --select-border: #B4BDC4;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }

.sorting {
    display: flex;
    font-size: 14px;
    margin-bottom: 15px;
    flex-direction: column;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__sort {
        justify-content: space-between;
    }

    @include tablet {
        flex-direction: row;
        width: 350px;
    }

    &-select{
        width: 100%;
        min-width: 15ch;
        max-width: 30ch;
        border: 1px solid var(--select-border);
        border-radius: 0.25em;
        padding: 0.25em 0.5em;
        font-size: 1.25rem;
        cursor: pointer;
        line-height: 1.1;
        background-color: #fff;
        background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    }
}