@import '../../styles/utils/utils.scss';

.cart {
  padding: 15px;

	&__title {
		font-size: 32px;
		font-weight: 700;
	}

	&__products {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}

@include desktop {
	.cart__content {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 15px;
	}
}
