@import '../../styles/utils/utils.scss';

.productPage {
  display: flex;
  justify-content: center;

  &__card__price-head {
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -1%;
  }

  &__card__price-discounted {
    font-weight: 500;
    font-size: 22px;
  }

  &__wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 32px;
  }
  &__divider {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  
  &__top-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    
      @include tablet {
        gap: 65px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100vh;
        margin: 30px 0;
    }
  }

  &__bottom-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    @include tablet {
      gap: 65px;
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }

  &__image-section {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 90vh;

    &-photo {
      width: 70%;
    }

    &-thumbnails {
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 70vh;

      &-thumbnail {
        width: 50%;
      }
    }
  }

  &__options-section {
    flex: 1;
    &-colors {
      &-option {
				height: 25px;
				width: 25px;
				border-radius: 50%;
				display: inline-block;
				margin-right: 5px;
        border: 2px solid $color-secondary;
        &--selected {
          border-color: black;
        }
      }
    }
    &-capacity {
      &-option {
        display: inline-block;
        padding: 8px 12px;
        margin: 4px;
        border: 1px solid black;
        border-radius: 4px;
        background-color: white;
        color: black;
        text-decoration: none;

        &--selected {
          background-color: black;
          color: white;
        }
      }
    }
  }

  &__about-section {
    flex: 1;
  }

  &__tech-specs-section {
    flex: 1;
  }
}