@import './../../styles/utils/utils.scss';

.productList {
    padding: 10px auto;

    @include desktop {
        padding: 30px auto;
    }

    &__pagination {
        align-items: center;
        text-align: center;
        margin: 15px auto;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
    }

    &__cards {
        display: grid;
            grid-template-columns: repeat(1, minmax(280px, 1fr));
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            justify-items: center;
            margin: 0 auto 10px;

        @media (min-width: 450px) {
            grid-template-columns: repeat(2, minmax(280px, 1fr));
        }

        @media(min-width: 900px) {
            grid-template-columns: repeat(4, minmax(280px, 1fr));
        }

        @media (min-width: 2200px) {
            grid-template-columns: repeat(8, minmax(280px, 1fr));
        }
    }
}