@import '../../../../styles/utils/utils.scss';

.swiper, .slider {
	width: 100%;
	position: static;

	@include tablet {
		width: 88%;
	}
	@include desktop {
		width: 92%;
	}

	&-slide {
		background-image: url(../../../../../public/images/banner1-min.png);
		background-repeat: no-repeat;
		background-size: contain;
		min-width: 100%;
		aspect-ratio : 1 / 1;

		@include tablet { 
			display: flex;
			justify-content: center;
			min-height: 0;
			aspect-ratio: auto;
		}

		& img {
			width: 100%;
			display: none;

			@include tablet { 
				display: block;
				
			}
		}
	}

	&-button-prev, &-button-next {
		display: none;
		align-items: center;
		border: 1px solid $color-icons;
		height: calc(100% - 2px);
		top: 22px;

		@include tablet {
			display: flex;
		}

		&::after{
			display: flex;
			color: $color-primary;
			font-size: 14px;
		}
	}

	&-button-prev {
		left: var(--swiper-navigation-sides-offset,0px);
	}
	&-button-next {
		right: var(--swiper-navigation-sides-offset,0px);
	}
}

.swiper-pagination {
	top: 0;
	bottom: -30px !important;

	&-bullet {
		background-color: $color-secondary;
		border-radius: 0;
		width: 15px;
		height: 5px;

		&-active {
			background-color: $color-primary;
		}
	}
}