@import '../../../../styles/utils/utils.scss';

.swiper, .slider {
	
	&-slide {
		width: 100%;
		padding-bottom: 100%;
		background-image: url(../../../../../public/images/banner1-min.png);
		background-repeat: no-repeat;
		background-size: contain;

		@include tablet { 
			background-image: url(../../../../../public/images/banner1-full.png);
			background-size: contain;
			height: 10%;
			width: 80%;
			padding-bottom: 35%;
		}
	}

	&-button-prev, &-button-next {
		position: absolute;
		top: 0;
		margin-top: 0px;
		display: flex;
		align-items: center;
		min-height: 100%;
		border: 2px solid green;
		
		&::after{
			display: none;
	position: fixed;
			width: 32px;
			border: 1px solid #89939a;
			font-size: 14px;
			color: red;
			text-align: center;
			
			@include tablet {
				display: flex;
				min-height: 100px;
			}
		}
	}

	&-button-prev {
		left: 0;
	}
	&-button-next {
		right: var(--swiper-navigation-sides-offset,0px);
	}
}