@import '../../styles/utils/utils.scss';

.phones {
    padding: 16px;
    margin: 10px 150px;

    @include tablet {
        padding: 24px;
    }

    @include desktop {
        padding: 32px;
    }

    &__header {
        align-items: left;
        margin-bottom: 30px;

        &__title {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-icons;
        font-size: 16px;
        padding: 0 15px;

        &:hover {
            color: black;
        }
    }

    &__home {
        width: 20px;
        height: 20px;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    &__sorting {
        display: flex;
        border-radius: 10%;
        font-size: 14px;

        &-sortby {
            height: 40px;
            width: 176px;
            border: 1px solid #B4BDC4;
            margin: 0 10px;
        }

        &-pages {
            height: 40px;
            width: 128px;
            border: 1px solid #B4BDC4;
        }
    }

    &__cards {
        margin: 15px auto;
        display: grid;

    }

    &__cards-card {
        display: flex;
        gap: 16px;
        justify-content: flex;
        flex-wrap: wrap;
        align-items: center;
        width: scale($cards-number);
    }

    &__buttons {
            height: 32px;
            width: 248px;
            align-items: center;
            text-align: center;
            margin: auto;

        &__container {
            align-items: center;
            text-align: center;
            margin: auto;
            gap: 5px;
        
                &-button {
                    width: 32px;
                    height: 32px;
                    background-color: $color-white;
                    border: 1px solid $color-icons;
                    margin: auto 5px;
                    padding: 5px;
                    border-radius: 10%;
        
            &:hover {
                    cursor: pointer;
                }
            
                &--disabled {
                    pointer-events: none;
                }
            }
    
        }   
    }
}