@import '../../styles/utils/utils.scss';

.phones {
    padding: 10px 30px 0;

    @include tablet {
        padding: 20px 50px 0;
    }

    @include desktop {
        padding: 50px 150px 0;
    }

    @media (min-width: 1800px) {
        padding: 70px 250px 0;
    }

    &__header {
        align-items: left;
        margin-bottom: 30px;

        &__title {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-icons;
        font-size: 16px;
        padding: 0 15px 0 0;

        &:hover {
            color: black;
        }
    }

    &__home {
        width: 20px;
        height: 20px;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    &__pagination {
        align-items: center;
        text-align: center;
        margin: auto;
    }

    &__cards {
        margin: 15px auto;
        display: grid;
    }

}