@import './utils/utils.scss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Mont Regular";
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

.page {
  min-height: 100vh;
}

// Mobile

h1 {
  font-family: "Mont Bold";
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
}

h2 {
  font-family: "Mont Bold";
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;
}

h3 {
  font-family: "Mont SemiBold";
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
}

h4 {
  font-family: "Mont SemiBold";
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}

// Desktop/Tablet
@include desktop {
  h1 {
    font-family: "Mont Bold";
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.01em;
  }

  h2 {
    font-family: "Mont Bold";
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }

  h3 {
    font-family: "Mont Bold";
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0;
  }

  h4 {
    font-family: "Mont SemiBold";
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0;
  }
}

.uppercase {
  font-family: "Mont Bold";
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.small-text {
  font-family: "Mont SemiBold";
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
}