@import './../../styles/utils/utils.scss';
.button {
    width: 32px;
    height: 32px;
    background-color: $color-white;
    border: 1px solid $color-icons;
    margin: auto 5px;
    padding: 5px;
    border-radius: 10%;

    &:hover {
        cursor: pointer;
    }
}