@import '../../../styles/utils/utils.scss';

.welcome {
  @include tablet { 
    padding: 24px;
  }
  @include desktop { 
    padding: 32px;
  }
  
  &__header {
    padding: 16px;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}