@import '../../../styles/utils/utils.scss';

.welcome {
  @include tablet { 
    padding: 24px;
  }
  @include desktop { 
    padding: 32px;
  }
  
  &__header {
    padding: 16px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100%;
  }

  &__slider {
    display: flex;
    justify-content: center;

    
  }
}